.nav-theme{
    color: #36454f;
    background-color: white;
    font-size: small;
    padding: 10px;
    margin: 0px;
}
#ducky-logo {
    width: 50px;
    height: auto;
}

#bunker-logo {
    width: 100px;
    height: auto;
    text-align: center;
    display: block;
}
a.nav-link.nav-anchor:link,a.nav-link.nav-anchor:visited,a.nav-link.nav-anchor:hover,a.nav-link.nav-anchor:active {
color: #36454f;    

}
.navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}
#about {
    background-color: #F7E321;
}
#about-us-text {
    width: 45%;
    padding-top: 15px;
    
}
.col-lg-12 {
    padding-left: 45%;
}
#the-team{
    width: 20%;
}
footer {
    background-color: #F7E321;
    color: #36454f;
}
#footer-logo {
    width: 30%;
    height: auto;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    #ducky-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
    }
    #bunker-logo {
        width: 200px;
    }
    body{
        padding-top: 100px;
    }
}